@media screen and (min-width: 500px) {
    

    .divbigimgandtextthetext{
        left: -80px;
    }
    .divbigimganstexttheimg{
        background-position: 100% 90px;
    }
    .imgdivattackontitansttd{
        background-position: 50% 50px;
    }
    .asdfghjkl{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50%
        
    }
    .qwertyuiop{
        background-position: 50% 10px;
        width: 100px;
        
    }

































}